name: Hourly Update

on:
  schedule:
    - cron: '0 * * * *'
  push:
    branches:
      - main

jobs:
  download_and_extract:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Download and Extract
      run: |
        URL="https://d2koia3g127518.cloudfront.net/export/MLS-diff-cell-export-$(date -u "+\%Y-\%m-\%dT\%H0000").csv.gz"
        echo $URL
        DESTINATION_DIR="/tmp/mlsexport"
        pwd
        mkdir -p "$DESTINATION_DIR"
        curl -L "$URL" -o "$DESTINATION_DIR/file.csv.gz"
        gunzip "$DESTINATION_DIR/file.csv.gz"
        ls -Fail $DESTINATION_DIR
      env:
        TZ: UTC
